.header,
.body{
    background: #1f2937;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

a{
    font: 18px;
    color: #e5e7eb;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.info div{
    font-size: 18px;
    color: #e5e7eb;
}

.button{
    color:white;
    background-color: #3882f6;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;
}

.footer{
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}