body{
   font-family: 'Roboto' arial;
   padding: 0;
   margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 20px 100px;
}

.header,
.body{
    background: #1f2937;
}

.body{
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 200px;
}

.body img{
    width: 400px;
    height: 250px;

}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.cards img{
    border: 4px solid #3882f6;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

.cards div{
    text-align: center;
    width: 250px;
    padding: 8px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    padding: 3px;
    align-self: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
    text-align: center;
    padding-right: 20px;
}

a{
    font: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

a:hover{
    color: #3882f6;
}

.info h1{
    width: 300px;
}

.info div{
    width: 400px;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 0;
    text-align: left;
}

h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.main h2{
    text-align: center;
}

img{
    border-radius: 2px;
    width: 60px;
    height: 60px;
}

.info div{
    font-size: 18px;
    color: #e5e7eb;
}
.info button{
    border: 3px solid #3882f6;
}

button{
    color:white;
    background-color: #3882f6;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin: 5px;
}

button:hover{
    cursor: pointer;
    transform: scale(.98);

}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 200px;
}

.quote div{
    width: 800px;
    font-style: italic;
}

.quote b{
    align-self: flex-end;
    font-size: 24px;
    text-align: right;
    padding: 20px 200px;
}

.card{
    display: flex;
    margin: 50px 200px;
    padding: 40px 60px;
    border-radius: 10px;
    background-color: #3882f6;
    justify-content: space-between;
}

.card div{
    color: white;
}

.card h3,
.card p{
    padding: 0;
    margin: 0;
}
.white-border button{
    border: 3px solid white;
}

.footer{
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}